/*图像下的隐藏Follw me横条*/
#aside_content .card-info #card-info-btn {
    display: none;
}

/*白天模式*/
/*去除横幅图片。由于文章页面的横幅图片background-image在element.style里面，无法直接修改css，采用!important方式隐藏图片*/
#page-header, #footer {
    background: transparent!important;
}
/*去除文章页面横幅图片前的蒙版*/
#page-header.post-bg:before {
    background: transparent;
}
/*黑夜模式*/
/*去除横幅前的蒙版*/
[data-theme='dark'] #web_bg:before, [data-theme='dark'] #footer:before, [data-theme='dark'] #page-header:before {
    background: transparent;
}









