/*图像下的隐藏Follw me横条*/
#aside_content .card-info #card-info-btn {
    display: none;
}


/*白天模式*/
/*去除页面横幅图片*/
#page-header {
    background: transparent;
}
/*去除文章横幅图片*/
element.style {
    background-image: none;
}








